[submodule "nvim/.local/share/nvim/site/pack/plugins/start/vim-commentary"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "/home/oliver/.dots/nvim/.local/share/nvim/site/pack/plugins/start/vim-endwise"]
	path = /home/oliver/.dots/nvim/.local/share/nvim/site/pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
